<%- include("../../shell/shellStart") %>
	<h2>Welcome, <span class="userName"><%= user["Preferred name"] %></span>!</h2>
	<%- include("../../components/lists/applications") %>
	<%- include("../../components/lists/plannedEvents") %>
	<%- include("../../components/lists/members") %>
<%- include("../../shell/shellEnd") %>