<%- include("../../shell/shellStart") %>

<% if(user) { %>
<h2 class="userName"><%= user.name %></h2>


<div class="factRow">
	<div class="factBox">
		<p class="fact">Coming soon</p>
		<span class="label">Joined on</span>
	</div>
	<div class="enforce-one-line">
		<div class="factBox">
			<span class="fact"><%= user.projectCount%></span>
			<span class="label">projects</span>
		</div>
		<div class="factBox">
			<span class="fact"><%= user.eventCount %></span>
			<span class="label">events</span>
		</div>
	</div>
	<div class="factBox campus">
		<p class="fact"><%= user.campus %></p>
		<span class="label">active campus</span>
	</div>
</div>

<%- include("../../components/lists/plannedEvents") %>
<%- include("../../components/lists/completedEvents") %>

<% } else { %>

	<h2>Sorry, we couldn't find the specified user! Try reloading the page, and leave a feedback through Teams!</h2>

<% } %>
<%- include("../../shell/shellEnd") %>
